#DxHeading {
    text-align: center;
    font-size: 36px;
}
html {
    background-color: blue;
}
p {
    font-size: 18px;
    color: white
}
.video-container {
      display: flex;
      justify-content: center; /* Centers horizontally */
      align-items: center;    /* Centers vertically */
      margin: 0;
    }

